/* ====================================
// css variables
// ==================================== */

:root {
  --dark-blue: #264653;
  --green: #2a9d8f;
  --white: #ffefef;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

html {
  color: var(--white);
  font-size: 42px;
  font-family: 'Playfair Display', bold;
}

.section {
  margin: 40px;
}

/* section 1 */

.section-1 {
  display: flex;
  flex-direction: row;
  background-color: var(--green);
  padding: 20px;
}

.section-1 .box {
  padding: 40px;
  margin: 20px;
  background-color: var(--dark-blue);
}

/* section 2 */

.section-2 {
  display: flex;
  flex-direction: row-reverse;
  background-color: var(--green);
  padding: 20px;
}

.section-2 .box {
  padding: 40px;
  margin: 20px;
  background-color: var(--dark-blue);
}

/* section 3 */

.section-3 {
  display: flex;
  flex-direction: column-reverse;
  background-color: var(--green);
  padding: 20px;
}

.section-3 .box {
  padding: 40px;
  margin: 20px;
  background-color: var(--dark-blue);
}