/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

body {
  width: 1728;
}

p {
  color: white;
  font-size: 42px;
  font-family: "Playfair Display";
  font-weight: 700;
  line-height: 50%;
  padding: 40px;
}

.section-1,
.section-2,
.section-3,
.section-4,
.section-5 {
  background-color: #2a9d8f;
  margin: 40px;
  padding: 20px;
  display: flex;
  gap: 20px;
}

.bloc-1,
.bloc-2,
.bloc-3,
.bloc-4,
.bloc-5 {
  background-color: #264653;
}

.section-1 {
  flex-direction: row;
  justify-content: flex-start;
}

.section-2 {
  flex-direction: row;
  justify-content: flex-end;
}

.section-3 {
  flex-direction: column;
  justify-content: flex-start;
}

.section-4 {
  flex-direction: row;
  justify-content: space-between;
}

.section-5 {
  flex-direction: column;
  align-items: center;